.png {
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto;
}
.box {
  width: 100px;
  height: 100px;
  margin: 30px;
  background: pink;
  display: inline-block;
  position: relative;
  border: 1px solid white;
}
p{
  margin: 30px;
  font-size: 30px;

}
hr{
  margin-left: 30px;
  margin-right: 540px;
  color: pink;
}
